body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
  background-color:burlywood;
}
#news{
  background-color: beige;
}

.img{
    width: 100%;
    height:100%;
}

.bk1{
   background-color: darkseagreen;
    float: left;
    width: 50%;
}
.bk2{
    background-color: burlywood;
    float: right;
    width: 50%;
}
.bk3{
   background-color: bisque;
    float: left;
    width: 50%;
}
.bk4{
    background-color: beige;
    float: right;
    width: 50%;
}
.row2 {
    
    font-weight: bold;
    font-size: large;
    color : cornflowerblue;
}
.row4{
    padding: 10px;
    width: 90%;
    float: center;
    background-color: blanchedalmond ;
}
.row3{
    font-style:italic; 
    padding: 10px;
    width: 90%;
    float: center;
    background-color: antiquewhite ;    
}
.responsive{
     width: 50%;
     height: auto;
}